
.landmarks_container {
    display: flex;
    flex-wrap: wrap;
            width: auto;
        min-height: 720px;
}

.landmarks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.landmarkCard {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: beige;
    border: 3px solid saddlebrown;
    max-width:200px;
    height: auto;
    text-align: center;
  }

  .btn--details{
display: flex;
  }

  
  .landmark {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
        background-color: beige;
    border: 3px solid saddlebrown;
    max-width: auto;
    height: auto;
  }
  
  .form-control{
    display: flex;
  }

  .landmark__image{
    max-width:200px;
    height: auto;
    border: black 3px solid;
  }

  .landmark__website{
    max-width:200px;
  }