
.trips_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: center;
            width: auto;
        min-height: 720px;
}

.trips {
    display: flex;
    flex-wrap: wrap;
  }

.form-control{
    display: flex;
  }

.newTrip{
display: flex;
max-width: 200px;
max-height: 150px;
}

.tripListContainerTwo{
        display: flex;
        flex-basis: 28%;
        margin: 1em;
        padding: 1em;
        background-color: beige;
        border: 3px solid saddlebrown;
        min-width: 700px;
        max-height: 300px;
                flex-direction: column;
        flex-wrap: nowrap;
}

.tripListContainer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: auto;
        min-height: 720px;
}

.tripList{
      display: flex;
        color: saddlebrown;
        margin: 1em;
        padding: 1em;
                flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
}

.tripName{
display: flex;
color: saddlebrown;
background-color: beige;
    margin: 1em;
    padding: 1em;
}

  .landmarkTripCard{
     flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    background-color: beige;
    border: 3px solid saddlebrown;
    max-width:200px;
    height: auto;
    overflow-wrap: break-word;
  }

  .remove{
display: flex;
    justify-content: center;
    align-items: center;
  }

   .delete{
display: flex;
    justify-content: center;
    align-items: center;
  }