  
.navbar-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
      background-color: beige;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: beige
}

.form-control {
  list-style-type: none;
    width: 500px;
  height: 10p;
}

.Logo {
  display: flex;
}

.homeButton {
display: flex;
width: 100px;
}

.logout {
  display: flex;
}

 /* img {
    max-width:1000px;
    height: auto;
  } */

