  
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.form-control {
  list-style-type: none;
    max-width: 500px;
  height: 10p;
}

.headerImage {
  
}

