  
.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.form-control {
  list-style-type: none;
    max-width: 500px;
  height: 10p;
}

.Logo {
  display: flex;
}

.homeButton {
display: flex;
}

.logout {
  display: flex;
}

 /* img {
    max-width:1000px;
    height: auto;
  } */

